body{
  background-color: #fdf1ec;
}
.wrapper{
  max-width: 100vh;
  max-height: 100vh;
  margin:50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px  14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product{
  max-width: 100vh;
  max-height:100vh;
}

.product-img{
  float:left;
  display:block;
  border-radius:  7px 0 0 7px;
  
}
.product-img img{
  border-radius:  7px 0 0 7px;
}
.product-info{
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}
.product-text{
  height: 300px;
  width: 327px;
  margin: 0 0 0 38px;
}

.product-text p{
  font-family:Montserrat;
  color:#8d8d8d;
  font-size: 14px;

}
.product-text h1{
  padding-top: -5px;
  font-size: 32px;
  font-weight: 800;
  font-family: Fraunces;
  color: black;

}
.product price{
  display:flex;
  align-items: center;
}
.product-price p{
  color:hsl(158, 36%, 37%);
  margin: 10px 0;
  font-size: 25px;
  font-family: Fraunces;

}
.product-price p del{
 font-family: Montserrat;
 color:#8d8d8d;
 font-size: 10px;
 margin-left: 10px;
}

button{
  margin: 10px 0;
  box-sizing: border-box;
  cursor:pointer;
  border-radius: 6px;
  font-size: 14px;
  color:#fff;
  background-color: hsl(212, 21%, 14%);
  padding: 12px 10px;
  border:none;
  width:200px;
  transition:all 0.5s ease-in-out; ;
  position: absolute;

  }

  button img{
    width:15px;
    margin-right: 20px;
  

  }
  button:hover{
    display:block;
  }

 button:hover{
  background:hsl(158, 36%,37%);
  box-shadow:0px 4px 35px -5px hsl(158, 36%,37%);
  cursor:pointer; 
  }

 .attribution{
  padding: 1em;
  text-align: center;
  
 } 